<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
<h2>Create a New Post</h2>

<form th:action="@{/posts/create}" method="post" enctype="multipart/form-data">
    <label>Title:</label><br>
    <input type="text" name="title" placeholder="Enter title" required><br><br>

    <label>Description:</label><br>
    <textarea name="description" placeholder="Write something..."></textarea><br><br>

    <label>Content:</label><br>
    <textarea name="content" placeholder="Enter detailed content..."></textarea><br><br>

    <label>Place Name:</label><br>
    <input type="text" name="placeName" placeholder="Enter place name"><br><br>

    <label>Country:</label><br>
    <input type="text" name="country" placeholder="Enter country"><br><br>

    <label>Upload Image:</label><br>
    <input type="file" name="image"><br><br>

    <button type="submit">Submit Post</button>
</form>

</body>
</html>
