<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
    <h1>List of of posts</h1>
    <table border="1">
        <tr>
            <th>PostID</th>
            <th>PostUrl</th>
            <th>Title</th>
            <th>Content</th>
            <th>CreatedAt</th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postID}">PostID</td>
            <td th:text="${post.postUrl}"></td>
			<td th:text="${post.userID}">UserID</td>
			<td th:text="${post.phone}">Phone</td>
			<td th:text="${post.role}">Role</td>
        </tr>
    </table>
</body>
</html>
